<%- include("template/cabecera", {titulo: 'Detalle de mascota'}) %>
<div class="container">
  <h1>Detalle mascota</h1>
  <% if (error) { %>
  <p><%= mensaje %></p>
  <% } %> <% if (!error) { %>
  <table class="table">
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= mascota.id %></th>
        <td><%= mascota.nombre %></td>
        <td><%= mascota.tipo %></td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            id="btnDelete"
            data-id="<%= mascota.id %>"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <% } %>
  <a href="/mascotas" class="btn btn-dark btn-block">Volver a Mascotas</a>
</div>

<%- include("template/footer"); %>

<script>
  const btnEliminar = document.querySelector('#btnDelete');
  btnEliminar.addEventListener("click", async () => {
    const id = btnEliminar.dataset.id;
    try {
      const data = await fetch(`/mascotas/${id}`, {
        method: 'delete'
      });
      const res = await data.json();
      if (res.estado) {
        window.location.href = "/mascotas";
      } else {
        console.log(res);
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
